body {	background-color: #F5F5F5; }
a[href] { 
	color: inherit;
	text-decoration: none; }
ol, ul { padding: 0; }
li { list-style: none; }
/*Reset Material-kit*/
.table-fluid { overflow: auto; }
.nav-pills>li+li { margin-left: 0rem; }
.nav-pills>li { width: 100%; }
.breadcrumb { padding-top: 7.5rem; }
.material-icons { vertical-align: middle; }
.navbar, .navbar.navbar-default { background-color: rgb(20, 200, 204); }
.nav>li>a { padding: 10px 8px; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #14c8cc;
    border-color: #14c8cc;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgb(223, 254, 255), 0 1px 10px 0 rgb(230, 250, 254), 0 2px 4px -1px rgb(220, 240, 241); }
.alert.alert-success { background-color: #b6cd11; }
.btn-cancel, .btn-ok { margin: 0; }
.form-group.is-focused .form-control { background-image: linear-gradient(rgb(48, 214, 218), rgba(48, 214, 218, 1)), linear-gradient(rgb(210, 210, 210), rgb(210, 210, 210)); }
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a { padding: 1rem; }
.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus {
    color: #FFFFFF;
    background-color: rgb(48, 214, 218); }
.reset-li { list-style: inherit; }
h6 { text-transform: initial; }

/*Reset table del index*/
.table-container { 
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 2rem; }

#example_filter	label { width: 100%; }
.pagination { margin: 0; }
.row.data-table-header { display: flex; }
.row .col-sm-5 {
	height: 36px;
    padding: 1rem; }
.form-control:focus { 
	-webkit-box-shadow: none;
	outline: 0; }
.input-table { 
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100% !important; }
    .input-table:focus { border-bottom: 1px solid rgb(48, 214, 218); }

.actions { padding: 1rem; }
.actions:hover { 
	background-color: rgba(200, 200, 200, 0.2);
	border-radius: 50%;
	color: #7F7F7F; }
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgb(243, 201, 0);
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgb(224, 187, 10), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(242, 255, 0, 0.2); }

.form-title { border-bottom: 4px solid #333; }
.prev-link {
    background-color: darkturquoise;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
    width: 5rem;
    height: 5rem; }
.logo { 
	background: url(../imgs/logo.svg) no-repeat center center;
    height: 5rem;
    width: 12rem; }
.fa.fa-upload {
	animation: miAnimacion 1s infinite;
	display: block;
    font-size: 8rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center; }
.picture-container { display: inline-block; }
.fa.fa-picture-o {
    color: #f3c900;
    cursor: pointer;
	font-size: 4rem;
	width: 5rem; }
.fa.fa-picture-o:after {
	content: "\f03e";
    color: #333;
    position: relative;
    left: -4rem;
}
.import-section {
	border: 5px dashed #ddd;
    padding: 2rem; }
.btn-upload {
    background-color: rgb(20, 200, 204);
	border: none;
    color: #fff;
    margin-top: 1rem;
    padding: 0.5em;
    width: 100%; }
#search { height: 3.4rem; }
#resultSearch {
    border-radius: 0.2rem;
    position: absolute;
    width: 100%; }
    #resultSearch li a {
    	background-color: #fff;
    	color: #333;   	
    	display: block;
    	padding: 0.5rem;
    }
    #resultSearch li a:hover { 
        background-color: rgb(48, 214, 218);
        color: #fff; }
.results i {
    color: #ec372a;
    float: right;
    font-size: 2rem; }
.ver-solicitud {
    background-color: #e0382b;
    padding: 1rem;
}

.title-solicitud { margin: 0; }
@keyframes miAnimacion {
	0% { top: 0.6rem; }
	50% { top: 0rem }
	100% { top: 0.6rem; }
 }
@media (max-width: 991px) {
	.nav-pills>li {	float: none; }
	aside { 
		display: none;
		position: absolute !important;
		z-index: 1; }
	.logo-container {     
		display: block;
	    margin-left: 1rem; }
}
